$orange-color: #c05817;
$container-color: #161616;
* {
  background-color: $container-color;
  box-sizing: border-box;
  body {
    nav {
      background-color: $orange-color;
      border-radius: 10px 10px 0 0;
      padding: 0px;
      margin: 0px;

      img {
        height: 40px;
        background: none;
      }
      ul {
        background-color: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    header {
      text-align: center;
      justify-content: center;
      background-color: red;
      p {
        color: gray;
      }
    }
    main {
      .slide {
        img {
          width: 100%;
        }
      }
      .mid-container {
      }
    }
    .bottom-flex {
      img {
        height: 200px;
      }
    }
  }
}
