@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  background-color: #161616;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
* body {
  margin: auto;
  background-color: #383838;
}
* body .container-fluid {
  margin: 0;
  padding: 0;
  max-width: 120rem;
}
* body .container-fluid .row {
  margin: 0;
}
* body .container-fluid .row .top-banner {
  padding: 5px 0;
  background-color: #c05817;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
* body .container-fluid .row .top-banner img {
  height: 40px;
  background-color: #c05817;
}
* body .container-fluid .row .top-banner .burger {
  height: 40px;
  width: 45px;
  background-color: #c05817;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.125rem solid white;
  border-radius: 10%;
}
* body .container-fluid .row .top-banner .burger:hover {
  background-color: #161616;
  cursor: pointer;
}
* body .container-fluid .row .top-banner .burger .line-1,
* body .container-fluid .row .top-banner .burger .line-2,
* body .container-fluid .row .top-banner .burger .line-3 {
  width: 35px;
  height: 0.3125rem;
  background-color: white;
}
* body .container-fluid .drop-menu-visibility {
  height: 40px;
  background-color: white;
  list-style: none;
  animation-name: visible;
  animation-duration: 1s;
  align-items: center;
}
@keyframes visible {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: max;
  }
}
* body .container-fluid .drop-menu-visibility ul {
  background-color: inherit;
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  margin: 0;
}
* body .container-fluid .drop-menu-visibility ul li {
  background-color: inherit;
}
* body .container-fluid .drop-menu-visibility ul li a {
  background-color: inherit;
  text-decoration: none;
  color: #161616;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
* body .container-fluid .drop-menu-visibility ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background-color: #c05817;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
* body .container-fluid .drop-menu-visibility ul li a:hover:after {
  width: 100%;
}
* body main .top-slide {
  position: relative;
  align-items: center;
  height: 100%;
}
* body main .top-slide .top-slide-show {
  padding: 0rem;
  width: 100%;
  height: 100%;
}
* body main .top-slide .top-slide-show .top-slide-images {
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 0;
  width: 100%;
}
* body main .top-slide .top-slide-show .top-slide-images:nth-child(1) {
  display: block;
}
* body main .top-slide .top-slider-floater {
  background-color: transparent;
  position: absolute;
  background-color: none;
  width: auto;
  padding: 1.25rem;
  height: auto;
  top: 30%;
  left: 6%;
  color: white;
}
* body main .top-slide .top-slider-floater h1 {
  background-color: transparent;
  font-size: 60px;
}
* body main .top-slide .top-slider-floater .top-slider-floater-row {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}
* body main .top-slide .top-slider-floater .top-slider-floater-row .top-slider-floater-row-a {
  background-color: #c05817;
  height: 1.875rem;
  margin: 0.0625rem;
  padding: 0;
  width: 0.625rem;
  transform: skew(-30deg);
}
* body main .top-slide .top-slider-floater .top-slider-floater-row .top-slider-floater-row-b {
  background-color: #c05817;
  height: 1.875rem;
  width: 0.625rem;
  margin: 0.625rem;
  padding: 0;
  transform: skew(-30deg);
}
* body main .top-slide .top-slider-floater .top-slider-floater-row .top-slider-floater-subtitle {
  background-color: transparent;
  font-size: auto;
  width: auto;
}
* body main .top-slide .top-slider-floater .top-slider-floater-btn {
  color: white;
  border: 0.125rem solid #c05817;
  padding: 0.625rem;
}
@media screen and (max-width: 992px) {
  * body main .top-slide .top-slider-floater h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  * body main .top-slide .top-slider-floater h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  * body main .top-slide .top-slide-show,
* body main .top-slide .btn1,
* body main .top-slide .btn2 {
    display: none;
  }
  * body main .top-slide .top-slider-floater {
    position: static;
    text-align: center;
  }
  * body main .top-slide .top-slider-floater .top-slider-floater-row {
    justify-content: center;
  }
  * body main .top-slide .top-slider-floater .top-slider-floater-btn {
    width: auto;
    margin: 0 auto;
  }
}
* body main .btn1 {
  position: absolute;
  width: auto;
  height: auto;
  color: white;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
}
* body main .btn2 {
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
  color: white;
  font-size: 2.5em;
  background-color: transparent;
  border: none;
}
* body main .mid-container {
  width: 100%;
  height: auto;
}
* body main .mid-container .container {
  align-items: center;
  display: flex;
  padding: 5%;
  justify-content: space-evenly;
  border: 0.125rem solid #c05817;
}
* body main .mid-container .container .text-div h3 {
  color: #c05817;
  font-size: 1.5625rem;
}
* body main .mid-container .container .text-div h2 {
  color: white;
}
* body main .mid-container .container .text-div p {
  color: white;
}
* body main .mid-container .container .text-div button {
  color: white;
  border-color: #c05817;
  padding: 0.625rem;
}
* body main .mid-container .container .mid-container-image {
  padding: 0;
}
* body main .mid-container .container .mid-container-image img {
  width: 100%;
  height: auto;
}
* body main .bottom-slide {
  height: auto;
  width: 100%;
  position: relative;
  align-items: center;
}
* body main .bottom-slide .bottom-slide-show {
  padding: 0;
  width: 100%;
}
* body main .bottom-slide .bottom-slide-show .bottom-slide-images {
  display: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  width: 100%;
}
* body main .bottom-slide .bottom-slide-show .bottom-slide-images:nth-child(1) {
  display: block;
}
* body main .bottom-slide .bottom-slide-show .bottom-slide-images:nth-child(1) img {
  height: auto;
  width: 100%;
}
* body main .bottom-slide .btn1-bot {
  position: absolute;
  width: auto;
  height: auto;
  color: white;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}
* body main .bottom-slide .btn2-bot {
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
  color: white;
  font-size: 3em;
  background-color: transparent;
  border: none;
}
* body main .bottom-container {
  margin: 1.875rem 0;
  border: 0.125rem solid #c05817;
  text-align: center;
}
* body main .bottom-container h2 {
  font-size: 1.25rem;
  color: white;
  padding: 2.5rem;
}
* body main .bottom-flex {
  display: flex;
}
* body main .bottom-flex div {
  max-height: 25rem;
  padding: 0;
  position: relative;
}
* body main .bottom-flex div a {
  width: 100%;
  height: 100%;
  text-align: center;
}
* body main .bottom-flex div a div {
  position: absolute;
  font-size: 1.875rem;
  color: white;
  background-color: transparent;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* body main .bottom-flex div a img {
  height: 100%;
  width: 100%;
  padding: 0;
  object-fit: cover;
  z-index: 1;
  filter: grayscale(100%);
}
* body main .bottom-flex div a img:hover {
  filter: grayscale(0%);
}
* body main .footer footer {
  background-color: #c05817;
  color: white;
  text-align: center;
  padding: 1.5625rem;
}

.display-none {
  display: none;
  animation-name: hide;
  animation-duration: 1s;
}

/*# sourceMappingURL=styles.css.map */
